.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  float: left;
  margin-right: 10px;
}

.App-Header-Text {
  float: left;
  margin-top: 8px;
  font-size: x-large;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
}
